body {
    color: #1C304A;
    text-align: center;
    font-family: 'Lexend', 'Open Sans', sans-serif;
    font-weight: normal;
    background-color: #F8F8F8;
}

#skip a {
    display: block;
    position: absolute;
    left: -999px;
    top: -999px;
}

#skip a:focus {
    left: 0;
    top: 0;
    color: #1C304A;
}

h1 {
    font-size: 4.5rem; /* 72 px */
    margin: 2.5rem 0 4.5rem; /* 40px top, 0 left/right, 56px bottom */
}

.symptom-container {
    width: 460px;
    margin: 2.375rem auto; /* 38px */
    font-size: 1.5rem; /* 24px */
}

.symptom-status-bar {
    height: 1.25rem; /* 20 px */
    overflow: hidden;
    border-radius: 0.75rem; /* 12px */
    background-color: #69456F;
}

.symptom-name-status {
    display: flex;
    margin-bottom: 0.625rem; /* 10px */
}

.status {
    font-weight: 600;
    margin-left: auto;
}

.status-indicator {
    height: 100%;
    background-color: #9BE59E;
}

.status-50 {
    width: 50%;
}

.status-85 {
    width: 85%;
}

.status-95 {
    width: 95%;
}
