body {
    color: #2b283a;
    font-family: 'Lexend', 'Open Sans', sans-serif;
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    background-color: #F8F8F8;
}

/* ----- TYPOGRAPHY ----- */

h1,
h3 {
    margin: 0;
}

h1 {
    color: #F8F8F8;
    font-size: 48px;
}

h2 {
    color: #1C304A;
    font-size: 32px;
    margin-top: 0;
}

h3 {
    font-size: 26px;
}

p {
    line-height: 1.5;
}

.subheading {
    display: block;
    font-size: 24px;
}

.section-bottom h2 {
    color: inherit;
}

.link {
    color: #00A1D1;
    text-decoration: underline dotted;
}

.link-on-light:hover,
.link-on-light:active {
    color: #69456F;
}

.link-on-dark:hover,
.link-on-dark:active {
    color: #9BE59E;
}

.button {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4.6px;
}

.button-purple {
    color: #F8F8F8;
    background: #69456F;
}

.button-blue {
    color: #F8F8F8;
    background: #00A1D1;
}

.button-purple:hover,
.button-purple:active {
    color: #F8F8F8;
    background-color: #00A1D1;
}

.button-blue:hover,
.button-blue:active {
    color: #F8F8F8;
    background-color: #69456F;
}

/* ----- LAYOUT ----- */

header,
section,
footer {
    padding: 46px 0;
}

header,
.section-bottom {
    background-color: #1C304A;
}

.section-bottom {
    color: #F8F8F8;
}

.container {
    width: 90%;
    max-width: 750px;
    margin: 0 auto;
}

.at-image {
    width: 100%;
    max-width: 640px;
    margin: 0px auto; /* centers the image horizontally, needs display: block; to work */
    display: block; /* key to centering the image, otherwise default is inline */
}

.photo-credits {
    margin-bottom: 32px;
}

.section-bottom-image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-bottom-image-wrapper {
    width: 48%;
}

.accessibility-image {
    width: 100%;
    border-radius: 4.6px;
}

footer {
    text-align: center;
    color: #1C304A;
}