body {
    color: #1C304A;
    text-align: center;
    font-family: 'Lexend', 'Open Sans', sans-serif;
    font-weight: normal;
    background-color: #F8F8F8;
}

#skip a {
    display: block;
    position: absolute;
    left: -999px;
    top: -999px;
}

#skip a:focus {
    left: 0;
    top: 0;
    color: #1C304A;
}

h1 {
    font-size: 4.5rem; /* 72 px */
    margin: 0.5555em 0 0.7777em; /* 40px top (40/72), 0 left/right, 56px bottom (56/72) - inherited from it's own font-size, since no parent font size set */
}

.symptom-container {
    width: 460px;
    margin: 1.583em auto; /* 38px (38/24) - inherited from it's own font-size, since no parent font size set */
    font-size: 1.5rem; /* 24px */
}

.symptom-status-bar {
    height: 0.8333em; /* 20 px (20/24) ??? TODO use em or rem here?? or pixels?? pixels probably, I'll test it */
    overflow: hidden;
    border-radius: 0.5em; /* 12px (12/24) */
    background-color: #69456F;
}

.symptom-name-status {
    display: flex;
    margin-bottom: 0.41677em; /* 10px (10/24) */
}

.status {
    font-weight: 600;
    margin-left: auto;
}

.status-indicator {
    height: 100%;
    background-color: #9BE59E;
}

.status-50 {
    width: 50%;
}

.status-85 {
    width: 85%;
}

.status-95 {
    width: 95%;
}
